@font-face {
    font-family: Inter;
    src: url(Inter-Regular.woff2);
}

@font-face {
    font-family: Lilita;
    src: url(LilitaOne-Regular.woff2);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Inter;
}

html, body {
width: 100%;
height: 100%;
background-color: rgb(252, 252, 252);
}

/* Navbar */
nav{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 35px 50px;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}

.navlogo{
    width: 45px;
    height: auto;
}

.logotext{
    font-size: 40px;
    font-weight: 400;
    font-family: Lilita;
    text-shadow: 0 0 40px rgb(255, 206, 100, 50%);
}

/* Hero Section  */
main{
    width: 100%;
}

.hero-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroimg{
    width: 100%;
}

.herotext{
    color: #ffffff;
    text-shadow: 0 0 40px rgba(0, 0, 0);
    position: absolute;
    font-size: 4vw;
    font-weight: 900;
}

/* City Section  */
.Title{
    font-size: 2.5vw;
    font-family: Lilita;
    justify-self: flex-start;
    padding-bottom: 40px;
    padding-top: 20px;
    font-weight: 500;
}

.city-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 60px;
}

.cities{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    justify-content: center;
}

.nagpur{
    width: 25vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-image: url(Img\ Assets/Nagpur.webp);
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 0 0 40px rgba(0, 0, 0);
    font-size: 2vw;
    font-weight: 800;
}
.coming-soon{
    width: 25vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 40px rgba(0, 0, 0);
    font-size: 2vw;
    font-weight: 800;
    text-decoration: none;
    background: linear-gradient(to bottom, #ffb74c, #ff8113);
}

.city1.city2{
    text-decoration: none;
    cursor: pointer;
}
